*{
    margin: 0;
    padding: 0;
    display: flexbox;
}

.container{
    margin: auto;
    max-width: 600px;
}

.done{
    text-decoration: line-through;
}

button:hover{
    cursor: pointer;
}

ul{
    list-style: none;
}

ul div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

ul div button{
    border: none;
    background-color: transparent;
}

.img{
    width: 25px;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    
}

.card{
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}